<div class="container">
    <div class="flex-col">
        <div class="flex-row">
            <h1>
                Administrator Portal
            </h1>
        </div>
        <div class="flex-row">
            <div class="flex-col">
                <div class="column">
                    <h2>Sales Report</h2>
                    <p>Total sales/orders</p>
                    {{#if salesReport}}
                        <p>
                            {{{salesReport}}}
                        </p>
                        {{#if salesReportChart}}
                            <p>
                                <h2>Sales by Product Category</h2>
                                <img style="max-width: 80%;" src="{{salesReportChart}}" alt="Sales report chart" />
                            </p>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
            <div class="flex-col">
                <div class="column">
                    <h2>Customer List</h2>
                    <p>Customer list table or whatever</p>
                    {{#if customerTable}}
                        <p>
                            {{{customerTable}}}
                        </p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>