<div class="container">
    <h1 align="center">Welcome to {{title}} 🎿</h1>
    <p class="para">
        Click the links above or click
        <span class="link"><a href="/listprod">this link</a></span>
        to begin shopping.
    </p>
</div>