<h1 align="center">Welcome to Kelowna Alpine</h1>
<ul>
    <li>
        <h2 align="center"><a href="/listprod">Begin Shopping</a></h2>
    </li>
    <li>
        <h2 align="center"><a href="/listorder">List All Orders</a></h2>
    </li>
    <li>
        <h2 align="center"><a href="/loaddata">Load Initial Data</a></h2>
    </li>
</ul>