<div class="container">
    <div class="welcome">
        <h1>Welcome to {{storeName}} 🎿</h1>

        {{#if authenticatedUser}}
            <div class="userGreeting">
                <p>
                    Logged in as
                </p>
                <code>{{authenticatedUser}}</code>
            </div>
        {{/if}}
    </div>
    <p class="para">
        Check the links above or click
        <span class="link"><a href="/listprod">this link</a></span>
        to begin shopping.
    </p>
    <p class="para">
        This project's source code is available on
        <span class="link"><a href="https://github.com/cosc304team8/ski-shop.git">GitHub</a>.</span>
    </p>
</div>