<div class="container">
    <div class="login">

        <h3>Please Login to System</h3>

        {{#if loginMessage}}
            <p class="error">{{loginMessage}}</p>
        {{/if}}

        <br />
        <form class="loginForm" name="loginForm" method="post" action="/validateLogin">
            <input class="textbox" type="text" name="username" maxlength="10" placeholder="Username" />
            <input class="textbox" type="password" name="password" maxlength="10" placeholder="Password" />
            <input class="button" type="submit" name="submitlogin" value="Log In" />
        </form>
    </div>

</div>