<div class="container">
    <div class="review">

        <h3>Leave a Review</h3>

        <br />
        <form class="reviewForm" name="reviewForm" method="post" action="/postReview">
            <input class="textbox" type="text" name="ordernum" maxlength="15" placeholder="Order ID" />
            <input class="textbox" type="password" name="password" maxlength="255" placeholder="Review" />
            <input class="button" type="submit" name="submitReview" value="Submit" />
        </form>
    </div>

</div>