html,
body {
    margin: 0;
    padding: 0;
}
/* table {
    border-collapse: collapse;
    width: 100%;
}
td,
th {
    border: 0.01em solid #ccc;
    padding: 0.5em;
}
th {
    background-color: #f4f4f4;
    text-align: center;
} */

.header {
    font-family: sans-serif;
    display: sticky;
    background-color: #f4f4f4;
    padding: 0.5em;
    text-align: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;
}

.navlist {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.navlist li {
    padding: 0.5em;
}

.table {
    table-layout: fixed;
    display: table;
    border-spacing: 0;
    border: 0.01em solid #ccc;
    border-radius: 0.25em;
}
.cell,
.hcell {
    display: table-cell;
    padding: 0.5em;
    border: 0.01em solid #ccc;
}
.hcell {
    background-color: #f4f4f4;
    text-align: center;
}
.row {
    display: table-row;
}

.table tr:last-child td:first-child {
    border-bottom-left-radius: 0.25em;
}

.table tr:last-child td:last-child {
    border-bottom-right-radius: 0.25em;
}

.table thead {
    border-radius: 0.25em;
}

.table thead tr th:first-child {
    border-top-left-radius: 0.25em;
}

.table thead tr th:last-child {
    border-top-right-radius: 0.25em;
}

.container {
    font-family: sans-serif;
    padding: 1em;
}

.textbox {
    font-size: 1.2em;
    padding: 0.3em 0.5em;
    border: 0.01em solid #ccc;
    border-radius: 0.25em;
    margin: 0.25em;
}

.textbox:focus {
    outline: none;
    box-shadow: 0 0 0 0.05em #0066cc;
    border-color: #999;
}

.dropdown {
    font-size: 1.2em;
    padding: 0.3em 0.5em;
    border: 0.01em solid #ccc;
    border-radius: 0.25em;
    margin: 0.25em;
    background-color: #fff;
}

.dropdown:hover {
    cursor: pointer;
    background-color: #f4f4f4;
}

.dropdown:focus {
    outline: none;
    box-shadow: 0 0 0 0.05em #0066cc;
    border-color: #999;
}

.button {
    background-color: #0060bf;
    color: #fff;
    border: 0.01em solid #ccc;
    font-size: 1.2em;
    padding: 0.3em 0.5em;
    border-radius: 0.25em;
    margin: 0.25em;
}

.button:hover {
    background-color: #0066cc;
    border-color: #c8c8c8;
    cursor: pointer;
}

.button:active {
    /* background-color: #0052b3; */
    background-color: red;
    border-color: #b8b8b8;
    color: #ddd;
}

.button:focus {
    background-color: #0052b3;
    border-color: #b8b8b8;
    color: #fff;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.t-right {
    text-align: right;
}

.link a {
    color: #0060bf;
    text-decoration: none;
}

.titleLink a {
    color: #232323;
    text-decoration: none;
}
